anyio==3.3.4
asgiref==3.4.1
autopep8==1.6.0
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
fastapi==0.70.0
google-api-core==2.2.2
google-auth==2.3.3
google-cloud-core==2.1.0
google-cloud-firestore==2.3.4
googleapis-common-protos==1.53.0
grpcio==1.41.1
grpcio-status==1.41.1
h11==0.12.0
httptools==0.2.0
idna==3.3
packaging==21.2
proto-plus==1.19.7
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pydantic==1.8.2
pyparsing==2.4.7
python-dotenv==0.19.1
PyYAML==6.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
watchgod==0.7
websockets==10.0
